[submodule "glog"]
	path = glog
	url = git@github.com:google/glog.git
[submodule "gflags"]
	path = gflags
	url = git@github.com:gflags/gflags.git
[submodule "protobuf"]
	path = protobuf
	url = git@github.com:protocolbuffers/protobuf.git
